body {
  background-color: rgb(224, 158, 59);
}

#wrapper {
  margin-top: 48px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#button-wrapper {
  justify-content: center;
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

#text-wrapper {
  text-align: center;
}

button {
  width: 165px;
  height: 60px;
  font-size: 24px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#rock {
  background-color: brown;
}

#paper {
  background-color: yellowgreen
}

#scissors {
  background-color: green;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  box-shadow: 0px 0px 10px;
  border: solid 3px;
}

#round-winner {
  font-size: 48px;
}

#scoreboard {
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

#you,
#computer {
  width: 175px;
  color: rgb(255, 255, 255);
  background-color: black;
  border: 8px rgb(145, 62, 145) solid;
}

#replay-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#replay-button {
  border: 3px solid;
  font-size: 45px;
  width: auto;
  height: auto;
  background-color: gray;
  color: white;
  border: rgb(38, 35, 100);
  padding: 10px 36px;
}

#replay-button:hover {
  box-shadow: 0px 0px 10px;
  border: solid 3px;
}

#winner {
  text-align: center;
  margin-top: 20px;
  font-size: 54px;
  color: rgb(38, 35, 100);
  font-weight: bold;
}






